
body {
  background-color: #e9967a;
  box-sizing: border-box;
}

h1, h2, h3, p {
  font-family: Poppins;
}

h1 {
  font-size: 75px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 30px;
}

/* line height*/

a {
  color:#7fffd4;
}

a:visited {
  color:#f5f5dc;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color:#a52a2a;
}

.a1, .a2, .a3 {
  font-size: 20px;
}

.development, .table {
  font-family: poppins;
  font-size: 22px;
}

.flex {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.header {
  flex: auto;
}

.list-style {
  list-style-type: none;
}

.list-item {
  text-align: right;
}

.footer {
  font-size: 20px;
}

.index-footer {
  text-align: center;
  margin-bottom: 500px;
}

.index-footer-contact {
  text-align: center;
  margin-bottom: 100px;
}

.about {
  font-size: 25px;
}

.work {
  font-size: 18px;
}

/*GRID*/
.work-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;

}

.work-grid {
  align-items: center;
  height: 250px;
}

.contact {
  margin: 20px;
  text-align: center;
}

.send-button {
  margin: 30px;
}

.easy-button {
  font-family: inherit;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  height: 36px;
  width: 150px;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  transition: backround-color 0.15s,
    color 0.15s;
}
.easy-button:hover {
  background-color: #ffd700;
  color: #ff0000;
}
.easy-button:active {
  background-color: #8a2be2;
  color: #ffffff;
}
.help-button {
  font-family: inherit;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  height: 36px;
  width: 150px;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  transition: opacity 0.15s;
}
.help-button:hover {
  opacity: 0.6;
}
.help-button:active {
  opacity: 0.3;
}

.Milton-Logo, .Space-tiger {
  width: 200px;
  box-sizing: border-box;
}

@media all and (max-width :500px) {
  .work-layout {
    grid-template-columns: 1fr;
  }

  .header {
    display: inline-block;
  }

  h3 {
    font-size: 18px;
  }

  .work {
    font-size: 12px;
  }

  .Milton-Logo {
    width: 150px;
    height: 150px;
  }

  .Space-tiger {
    width: 150px;
    height: 150px;
  }
}

@media all and (min-width :500px) and (max-width :750px) {
  .work-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width :750px) {
  h1 {
    font-size: 22px;
  }
}